name: Kingshot Giftcode Tracker

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  track:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - run: pip install -r requirements.txt
      - run: python src/validate_codes.py
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}